trunk/resources/META-INF/InventoryStatusService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://ise.gmu.edu/~nduan/swe642/fall08" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://ise.gmu.edu/~nduan/swe642/fall08/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ise.gmu.edu/~nduan/swe642/fall08">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ise.gmu.edu/~nduan/swe642/fall08/xsd">
            <xs:element name="getNumOfEmptySeats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumOfEmptySeatsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumOfEmptySeatsForDateRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumOfEmptySeatsForDateRangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNumOfEmptySeatsRequest">
        <wsdl:part name="parameters" element="ns:getNumOfEmptySeats"/>
    </wsdl:message>
    <wsdl:message name="getNumOfEmptySeatsResponse">
        <wsdl:part name="parameters" element="ns:getNumOfEmptySeatsResponse"/>
    </wsdl:message>
    <wsdl:message name="getNumOfEmptySeatsForDateRangeRequest">
        <wsdl:part name="parameters" element="ns:getNumOfEmptySeatsForDateRange"/>
    </wsdl:message>
    <wsdl:message name="getNumOfEmptySeatsForDateRangeResponse">
        <wsdl:part name="parameters" element="ns:getNumOfEmptySeatsForDateRangeResponse"/>
    </wsdl:message>
    <wsdl:portType name="InventoryStatusServicePortType">
        <wsdl:operation name="getNumOfEmptySeats">
            <wsdl:input message="axis2:getNumOfEmptySeatsRequest" wsaw:Action="urn:getNumOfEmptySeats"/>
            <wsdl:output message="axis2:getNumOfEmptySeatsResponse" wsaw:Action="urn:getNumOfEmptySeatsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNumOfEmptySeatsForDateRange">
            <wsdl:input message="axis2:getNumOfEmptySeatsForDateRangeRequest" wsaw:Action="urn:getNumOfEmptySeatsForDateRange"/>
            <wsdl:output message="axis2:getNumOfEmptySeatsForDateRangeResponse" wsaw:Action="urn:getNumOfEmptySeatsForDateRangeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InventoryStatusServiceSoap11Binding" type="axis2:InventoryStatusServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getNumOfEmptySeats">
            <soap:operation soapAction="urn:getNumOfEmptySeats" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumOfEmptySeatsForDateRange">
            <soap:operation soapAction="urn:getNumOfEmptySeatsForDateRange" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InventoryStatusServiceSoap12Binding" type="axis2:InventoryStatusServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getNumOfEmptySeats">
            <soap12:operation soapAction="urn:getNumOfEmptySeats" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumOfEmptySeatsForDateRange">
            <soap12:operation soapAction="urn:getNumOfEmptySeatsForDateRange" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InventoryStatusServiceHttpBinding" type="axis2:InventoryStatusServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getNumOfEmptySeats">
            <http:operation location="InventoryStatusService/getNumOfEmptySeats"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getNumOfEmptySeats"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getNumOfEmptySeats"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumOfEmptySeatsForDateRange">
            <http:operation location="InventoryStatusService/getNumOfEmptySeatsForDateRange"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getNumOfEmptySeatsForDateRange"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getNumOfEmptySeatsForDateRange"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InventoryStatusService">
        <wsdl:port name="InventoryStatusServiceHttpSoap11Endpoint" binding="axis2:InventoryStatusServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/InventoryStatusService"/>
        </wsdl:port>
        <wsdl:port name="InventoryStatusServiceHttpSoap12Endpoint" binding="axis2:InventoryStatusServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/InventoryStatusService"/>
        </wsdl:port>
        <wsdl:port name="InventoryStatusServiceHttpEndpoint" binding="axis2:InventoryStatusServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/InventoryStatusService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
